{% extends 'base.html' %}

{% block head %}
<title>Add user</title>
{% endblock %}

{% block body %}
    <h2>Add User</h2>
    <p>Enter the necessary information to add a user:</p>
    <form name="add-user" method="POST">
        {{ form.csrf_token }}
        <label for="userName">Username:</label>
        {{ form.userName }}
        <br>
        <label for="userPassword">Password:</label>
        {{ form.userPassword }}
        <br>  
        <label for="address">Address:</label>
        {{ form.address }}
        <br>
        <label for="age">Age:</label>
        {{ form.age }}
        <br>
        <input type="submit" value="Add User">
    </form>
{% endblock %}
