{% extends 'base.html' %}

{% block head %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <title>Search Book Page</title>
{% endblock %}

{% block body %}
  <form name="BookSearch" method="POST">
    <input autofocus="autofocus" name="book_title" id="book_title" maxlength="150">
    <input type="submit" name="Submit" value="Search">
  </form>
{% endblock %}
