{% extends 'base.html' %}

{% block head %}
    <title>Search Book Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #f3e7e1;
        }

        #search-container {
            text-align: center;
            margin: 20px;
        }

        #search-header {
            font-size: 24px;
            margin-bottom: 10px;
            color: #333;
        }

        form {
            display: inline-block;
            margin-bottom: 20px;
        }

        #search-input {
            padding: 10px;
            font-size: 16px;
            width: 300px;
            border-radius: 25px;
            border: 1px solid #333;
        }

        #search-button {
            padding: 10px 20px;
            background-color: #f05a26;
            border: none;
            cursor: pointer;
            font-size: 15px;
            color: #fff;
            font-weight: 600;
            border-radius: 10px;
            transition: all 0.3s ease;
        }

        #search-button:hover {
            background-color: #f2421b;
        }

        table {
            width: 90%;
            margin: 0 auto;
            border-collapse: collapse;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        th, td {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            border-right: 1px solid #ddd;
        }

        th {
            background-color: #03a678;
            color: #fff;
        }

        tbody tr:hover {
            background-color: #f5f5f5;
        }

        td:last-child {
            border-right: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="search-container">
        <div id="search-header">Search for Books</div>
        <form name="BookSearch" method="POST">
            <input type="text" id="search-input" name="book_title" placeholder="Type to search books">
            <button id="search-button" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>

    <table>
        <thead>
            <tr>
                <th>ISBN Number</th>
                <th>Book Name</th>
                <th>Publishing Year</th>
                <th>Publisher</th>
                <th>Number of Copies</th>
                <th>Image URL</th>
            </tr>
        </thead>
        <tbody>
            {% for book in data %}
                <tr>
                    <td>{{ book[0] }}</td>
                    <td>{{ book[1] }}</td>
                    <td>{{ book[2] }}</td>
                    <td>{{ book[3] }}</td>
                    <td>{{ book[4] }}</td>
                    <td>{{ book[5] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
